<div class="form-group">
    <label for="squat1RM">Squat, 1RM</label>
    <input type="number" id="squat1RM" class="form-control" value="<%= squat %>">
</div>
<div class="form-group">
    <label for="bench1RM">Bench, 1RM</label>
    <input id="bench1RM" class="form-control" type="number" value="<%= bench %>">
</div>
<div class="form-group">
    <label for="ohp1RM">Overhead Press, 1RM</label>
    <input id="ohp1RM" class="form-control" type="number" value="<%= ohp %>">
</div>
<div class="form-group">
    <label for="deadlift1RM">Deadlift, 1RM</label>
    <input id="deadlift1RM" class="form-control" type="number" value="<%= deadlift %>">
</div>
<div class="form-group">
    <label for="deloadMethod">Deload method</label>
    <select name="deloadMethod" class="form-control" id="deloadMethod">
        <option value="1">Default</option>
        <option value="2">Deload without deload</option>
    </select>
</div>
<div class="form-group">
    <button class="btn btn-primary js-calculate" type="button">
        Calculate
    </button>
    <button class="btn btn-default" type="reset">
        Clear
    </button>
</div>