<thead>
<th class="active">Week 1</th>
</thead>
<tbody>
<tr>
    <td>8 @ 65%</td>
</tr>
<tr>
    <td>8 @ 75%</td>
</tr>
<tr>
    <td>8+ @ 80%</td>
</tr>
</tbody>
<thead>
<th class="active">Week 2</th>
</thead>
<tbody>
<tr>
    <td>6 @ 70%</td>
</tr>
<tr>
    <td>6 @ 80%</td>
</tr>
<tr>
    <td>6+ @ 85%</td>
</tr>
</tbody>
<thead>
<th class="active">Week 3</th>
</thead>
<tbody>
<tr>
    <td>8 @ 75%</td>
</tr>
<tr>
    <td>6 @ 85%</td>
</tr>
<tr>
    <td>3+ @ 90%</td>
</tr>
</tbody>
<th class="active">Week 4, Deload</th>
<tbody>
<tr>
    <td>8 @ 40%</td>
</tr>
<tr>
    <td>8 @ 50%</td>
</tr>
<tr>
    <td>8 @ 60%</td>
</tr>
</tbody>