<div class="col-xs-12 col-md-3">
    <h3>Squat</h3>
    <div class="squat-container"></div>
</div>
<div class="col-xs-12 col-md-3">
    <h3>Bench press</h3>
    <div class="bench-container"></div>
</div>
<div class="col-xs-12 col-md-3">
    <h3>OHP</h3>
    <div class="ohp-container"></div>
</div>
<div class="col-xs-12 col-md-3">
    <h3>Deadlift</h3>
    <div class="deadlift-container"></div>
</div>